// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
  height: 100%;
}

body {
  position: relative;
  background: #fff;
}

.navbar-laravel {
  background-color: #44bec7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#content {
  margin-top: 55px;
  padding-bottom: 55px;
  min-height: 100vh;
}

.profile-page {
  margin-bottom: 50px;
}

.stats li {
  padding: 5px 10px 0px;
}

.container-fluid {
  padding: 0;
}

.overview .col-sm-2 {
  background: #f9f9f9;
  padding: 5px;
}

.overview .profile {
  font-size: 1.1rem;
}

.overview .col-sm-2 img {
  width: 100%;
  border: 2px solid #f7f7f7;
}

.overview .col-sm-8 {
  border-left: 2px solid #44bec7;
  border-right: 2px solid #44bec7;
  border-bottom: 2px solid #44bec7;
  border-radius: 0 0 10px 15px;
}

.overview .post-form {
  padding-top: 10px;
  border-bottom: 2px solid #44bec7;
}

.overview .col-sm-8 .card {
  margin-top: 10px;
  margin-bottom: 55px;
}

.overview .col-sm-8 .card:last-of-type {
  margin-bottom: 10px;
}

footer {
  background: #c5c5c5;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  padding-top: 5px;
  margin-top: 100px;
}



